@charset 'utf-8';

.c-slick {
	width: 100%;
	margin: 0 auto;

	&__img {
		position: relative;
		border: solid 1px $colorLightBlack;
		background: $colorLightBlack;
		padding-top: 66.6666%;

		img {
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
}