@charset 'utf-8';

.l-footer {
	width: 100%;
	height: get_vw(60);

	&__inner {
		display: flex;
		align-self: center;
		justify-content: center;
		height: inherit;
	}

	&__copy {
		display: flex;
		align-self: center;
		justify-content: center;
		text-align: center;
		font-size: get_vw(24);
		margin: 0 auto;
	}

	&.is-bottom {
		position: absolute;
		bottom: 0;
	}

	@media screen and (min-width: $mediaSP) {
		font-size: get_vw(16);
	}

	@media screen and (min-width: $mediaTB) {
		width: 100%;
		height: 60px;

		&__inner {
			max-width: $maxWidthTB;
			margin: 0 auto;
		}

		&__copy {
			font-size: 16px;
		}
	}

	@media screen and (min-width: $mediaPC) {
		&__inner {
			// max-width: $maxWidthPC;
			max-width: $maxWidthWidePC;
		}
	}
}